*{        /*初始化设置*/
    padding: 0;
    margin: 0;
    font-size: 16px;
    /*perspective: 1000px;*/
}

@font-face {font-family: 'iconfont';
    src: url('../iconf/iconfont.eot');
    src: url('../iconf/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconf/iconfont.woff') format('woff'),
    url('../iconf/iconfont.ttf') format('truetype'),
    url('../iconf/iconfont.svg#iconfont') format('svg');
}

.bkPicture{         /*背景图片设置*/
    width: 1920px;
    height: 800px;
    padding-top: 187px;
    background-image: linear-gradient(120deg,#487eb0, #fbc531);
    overflow: hidden;
    position: relative;
}

.registerPage2{     /*登录页面设置*/
    position: absolute;
    left:610px ;
    top: 230px;
    width: 700px;
    height: 590px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow:  2px 2px 2px #57606f;
    overflow: hidden;
    /*z-index: 50;*/
}


.loginContent{      /*当前状态显示如‘登录’*/
    position: absolute;
    top: 25px;
    left: 25px;
    text-shadow: 0px 2px 2px #cccccc;
    color: rgb(0, 0, 0);
    font:  30px "微软雅黑 Light";
}

.last{
    margin:0 auto;
    height: 430px;
    width: 400px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sel{
    margin-top: 100px ;
    margin-left: 50px;
    height: 50px;
    width: 100px;
    /*box-shadow:2px 2px 2px 2px rgb(30,144,255);*/
    color: #999999;
    border-color: rgb(30,144,255);
    transition: 0.25s;
    border-radius: 2px;
}

.sel:hover{
    box-shadow:4px 4px 4px rgb(193,193,193);
}

.re_input{      /*密码输入框*/
    height: 50px;
    width: 300px;
    border-radius: 30px;
    border:1px solid rgb(224,224,224);
    padding: 0px 45px;
    outline: none;
    transition: border-color 0.25s;
}

.re_input:hover{
    border-color: rgb(30,144,255);
}

.re_input:focus{
    border-color: rgb(30,144,255);
}

.schoolId{
    margin-top: 80px;
}

.email{
    margin-top: 50px;
}

.get .span4{
    position: absolute;
    top: 243px;
    left: 90px;
}
.get .span5{
    position: absolute;
    top: 346px;
    left: 90px;
}

.arricon{
    font-family:"iconfont" !important;
    font-size:30px;
    text-align: center;
    line-height: 2;
    border: 5px solid rgb(30,144,255);
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.arricon a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(30,144,255);
    transition: 0.25s;
}

.arricon a:hover{
    background-color: rgb(30,144,255) ;
    color: white;
    font-size: 30px;
}
.usernameTip{       /*用户名输入提示*/
    /*position: relative;*/
    /*top: 90px;*/
    /*left: 200px;*/
    margin-left: 30px;
    color: red;
    font:  16px "微软雅黑";
}

.passwordTip{       /*密码输入提示*/
    /*position: relative;*/
    /*top: 120px;*/
    /*left: 200px;*/
    margin-left: 30px;
    color: red;
    font:  16px "微软雅黑";
}

.turn-left{
    position: absolute;
    top: 450px;
    left:100px
}

.loginBtn{      /*登录按钮*/
    color: rgb(30,144,255);
    font-size: 20px;
    position: absolute;
    top: 460px;
    left: 290px;
    height: 50px;
    width: 130px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(30,144,255);
    border-radius: 20px;
    background: white;
    /*background:linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);*/
    /*background-size: 400%;*/
    outline: none;
    z-index: 1;
}

.loginBtn:hover{
    color: white;
    background: rgb(30,144,255);
    box-shadow:2px 2px 2px #999999;
}

.registerSkip{      /*注册页跳转*/
    position:absolute;
    right: -150px;
    bottom: -180px;
    color: rgb(0,118,254);
    background: white;
    width: 300px;
    height: 300px;
    transform: rotate(-38deg);
}

.registerSkip a{        /*注册页跳转超链接样式*/
    display: inline-block;
    text-decoration : none;
    margin-top: 40px;
    margin-left: 120px;
}

/*.registerSkip:hover{*/
/*    box-shadow: 5px 5px 5px #999999;*/
/*}*/

.registerSkip a:hover{      /*注册页跳转鼠标悬停效果*/
    color: #e86060;
}